export(diagnosticsJagsMix,DistributionPlotBinomial,DistributionPlotGamma,DistributionPlotNorm,dosagesJagsMix,dumpData,dumpInits,plotFitted,plot.runJagsWrapper,plot.segratioMCMC,plotTheoretical,print.dosagesMCMC,print.runJags,print.runJagsWrapper,print.segratioMCMC,readJags,runJags,runSegratioMM,setControl,setInits,setModel,setPriors,summary.segratioMCMC,writeControlFile,writeJagsFile,calculateDIC)
