export(diagnosticsJagsMix,DistributionPlotBinomial,DistributionPlotGamma,DistributionPlotNorm,dosagesJagsMix,dumpData,dumpInits,plotFitted,plot.runJagsWrapper,plot.segratioMCMC,plotTheoretical,print.dosagesMCMC,print.runJags,print.runJagsWrapper,print.segratioMCMC,readJags,runJags,runSegratioMM,setControl,setInits,setModel,setPriors,summary.segratioMCMC,writeControlFile,writeJagsFile,calculateDIC)
S3method(print, dosagesMCMC)
S3method(print, runJags)
S3method(print, runJagsWrapper)
S3method(print, segratioMCMC)
S3method(plot, segratioMCMC)
S3method(summary, segratioMCMC)
import(polySegratio)
importFrom(gtools, logit)
##importFrom(coda, HPDinterval, acfplot, raftery.diag, geweke.diag, heidel.diag, levelplot, cumuplot, traceplot, densityplot.mcmc, densityplot.mcmc.list, autocorr, varnames, xyplot.mcmc, xyplot.mcmc.list, qqmath.mcmc, qqmath.mcmc.list)
importFrom(coda, HPDinterval, acfplot, raftery.diag, geweke.diag, heidel.diag, cumuplot, traceplot, autocorr, varnames, read.openbugs)
importFrom(lattice, histogram, panel.histogram, panel.densityplot, panel.lines, xyplot, panel.xyplot, panel.curve, qqmath, levelplot, densityplot)
